.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 5;
    transform: all 0.2s;
    outline-offset: 2rem;

    &--1 {
      left: 0;
      top: -2rem;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }

    &--3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      @include box-shadow-2;
      z-index: 25;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
